<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="chocolatey" version="1.1.0" />
  <package id="chocolatey-compatibility.extension" version="1.0.0" />
  <package id="chocolatey-core.extension" version="1.4.0" />
  <package id="chocolatey-dotnetfx.extension" version="1.0.1" />
  <package id="chocolatey-misc-helpers.extension" version="0.0.4" />
  <package id="chocolatey-windowsupdate.extension" version="1.0.4" />
  <package id="chocolateygui" version="1.0.0" />
  <package id="discord" version="1.0.9005" />
  <package id="discord.install" version="1.0.9005" />
  <package id="docker-desktop" version="4.10.1" />
  <package id="DotNet4.5.2" version="4.5.2.20140902" />
  <package id="dotnetfx" version="4.8.0.20220524" />
  <package id="Firefox" version="102.0.1" />
  <package id="gh" version="2.13.0" />
  <package id="git" version="2.37.0" />
  <package id="git.install" version="2.37.0" />
  <package id="GoogleChrome" version="103.0.5060.114" />
  <package id="KB2919355" version="1.0.20160915" />
  <package id="KB2919442" version="1.0.20160915" />
  <package id="KB2999226" version="1.0.20181019" />
  <package id="KB3033929" version="1.0.5" />
  <package id="KB3035131" version="1.0.3" />
  <package id="mobaxterm" version="21.5.0" />
  <package id="nodejs-lts" version="16.16.0" />
  <package id="obs-studio" version="27.2.4" />
  <package id="obs-studio.install" version="27.2.4.20220520" />
  <package id="peco" version="0.5.8" />
  <package id="slack" version="4.27.154" />
  <package id="spotify" version="1.1.88.612" />
  <package id="starship" version="1.9.1" />
  <package id="steam-client" version="2.10.91.92" />
  <package id="vagrant" version="2.2.19" />
  <package id="vcredist140" version="14.32.31332" />
  <package id="vcredist2017" version="14.16.27033" />
  <package id="vim" version="9.0.0049" />
  <package id="virtualbox" version="6.1.34" />
  <package id="vscode" version="1.69.0" />
  <package id="vscode.install" version="1.69.0" />
</packages>