<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="anki" />
  <package id="antigravity" />
  <package id="autohotkey" />
  <package id="chocolateygui" />
  <package id="chocolatey-misc-helpers.extension" />
  <package id="discord" />
  <package id="docker-desktop" />
  <package id="Firefox" />
  <package id="gh" />
  <package id="git" />
  <package id="GoogleChrome" />
  <package id="nodejs-lts" />
  <package id="notion" />
  <package id="obsidian" />
  <package id="peco" />
  <package id="slack" />
  <package id="spotify" />
  <package id="starship" />
  <package id="steam-client" />
  <package id="vagrant" />
  <package id="vim" />
  <package id="virtualbox" />
  <package id="vscode" />
  <package id="wiztree" />
</packages>