<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Editors & IDEs -->
  <package id="vim" />
  <package id="vscode" />
  <package id="obsidian" />
  <package id="notion" />

  <!-- Development -->
  <package id="git" />
  <package id="gh" />
  <package id="nodejs-lts" />
  <package id="docker-desktop" />
  <package id="vagrant" />
  <package id="virtualbox" />

  <!-- Tools & Utilities -->
  <package id="peco" />
  <package id="starship" />
  <package id="autohotkey" />
  <package id="wiztree" />
  <package id="mobaxterm" />

  <!-- Browsers -->
  <package id="GoogleChrome" />
  <package id="Firefox" />

  <!-- Communication -->
  <package id="slack" />
  <package id="discord" />

  <!-- Media & Gaming -->
  <package id="spotify" />
  <package id="obs-studio" />
  <package id="steam" />

  <!-- Education -->
  <package id="anki" />

  <!-- Chocolatey System -->
  <package id="chocolateygui" />
</packages>
