name: pages
on:
  push:

jobs:
  prepare:
    name: prepare setup.sh
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/upload-artifact@v6
      with:
        name: setup.sh
        path: setup.sh
        retention-days: 1
    - uses: actions/upload-artifact@v6
      with:
        name: setup.ps1
        path: setup.ps1
        retention-days: 1
  publish:
    name: Publish setup.sh on GitHub Pages
    runs-on: ubuntu-latest
    needs: prepare
    steps:
    - uses: actions/checkout@v6
      with:
        ref: gh-pages
    - run: rm index.html setup.ps1 setup.sh || true
    - uses: actions/download-artifact@v7
      with:
        name: setup.sh
    - uses: actions/download-artifact@v7
      with:
        name: setup.ps1
    - run: cp setup.sh index.html
    - run: git add .
    - name: Check diff
      run: |
        diffs=$(git status -s)
        if [ "$diffs" = "" ]; then
          echo "NO_DIFF=1" >> $GITHUB_ENV
        else
          printf "%s\n" "$diffs"
        fi
    - name: Commit changes
      if: env.NO_DIFF != '1'
      run: |
        git config --global user.name 'github-actions[bot]'
        git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
        git commit -m 'update'
    - name: Push to gh-pages
      if: github.ref == 'refs/heads/master' && env.NO_DIFF != '1'
      run: git push origin gh-pages
